@import "styles/_variaveis.scss";

.menu {
    font-family: $font;
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgb(74 74 74 / 40%) 0px 3px 14px 0px;
    padding-left: 10px;
    display: flex!important;



    &__search {
        display: flex;
        
    }

    &__items {
        display: flex!important;
        justify-content: flex-end!important;
        &:hover {
            color: $green !important;
        }
    }

}



.teste {
    display: flex!important;
    justify-content: space-between!important;
}