.drawer {
  a {
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
  }

  &__list {
    display: flex;
    color: black;
    align-items: center;

    &_text {
      margin-left: 10px;
    }
  }
}

.icon {
  color: #fff !important;
}
