@import 'styles/variaveis';

.footer {
  background-color: rgb(38, 38, 38);
  color: rgb(170, 170, 170);
  font-size: 12px;
  padding: 3em;

  &__social_list a {
    display: flex;
    color: inherit;
    justify-content: center;
    list-style-type: none;
    font-size: 1.5em;
    margin: 0 1em;
    &:hover {
        color: rgb(64, 154, 60);
        cursor: pointer;
    }
  }

  &__copy_right {
    font-family: $font;
    font-weight: 700;
    color: #FFF;
  }
}
