@import 'styles/variaveis';

.footer {
  background-color: rgb(38, 38, 38);
  color: rgb(170, 170, 170);
  padding: 3em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem; 

  &__social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.5em;
    margin: 0 1em;
    li {
      margin: 0 1em;
    }
    a {
      color: inherit;
      &:hover {
        color: rgb(64, 154, 60);
      }
    }
  }

  &__copy_right {
    display: flex;
    justify-content: center;
    font-family: $font;
    font-size: 16px;
    justify-content: center;
    margin-top: 2em;
    span {
      font-weight: $title;
      color: $green;
    }
  }
}
